[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
metatrader5 = "*"
dearpygui = "*"
pandas = "*"
pyinstaller = "*"
requests = "*"
traitlets = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
